@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing : border-box ;
}

pre {
    background : lightgrey ;
    font-family : courier ;
    max-width : 1200px ;
    border : 2px solid grey ;
    padding : 15px ;
}